# Het weer

De csv met het weer van Nederland wordt geüpload.

In [3]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving weather_netherlands.csv to weather_netherlands.csv

Vervolgens wordt het csv bestand ingeladen met pandas.

In [73]:
het_weer = pd.read_csv("weather_netherlands.csv")

Het dataframe wordt hieronder weergegeven

In [35]:
het_weer

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1960-01-01,2.425,0.215,Almere,Netherlands,52.24N,5.26E
1,1960-02-01,3.083,0.245,Almere,Netherlands,52.24N,5.26E
2,1960-03-01,5.858,0.347,Almere,Netherlands,52.24N,5.26E
3,1960-04-01,8.870,0.226,Almere,Netherlands,52.24N,5.26E
4,1960-05-01,13.088,0.454,Almere,Netherlands,52.24N,5.26E
...,...,...,...,...,...,...,...
15475,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.24N,5.26E
15476,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.24N,5.26E
15477,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.24N,5.26E
15478,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.24N,5.26E
15479,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.24N,5.26E

We maken een nieuw dataframe van het weer in Rotterdam en halen daar de maximale gemiddelde temperatuur uit met de functie .max

In [90]:
temp_rtm = het_weer[(het_weer["City"] == "Rotterdam")].max(axis=0)[1]
temp_rtm

21.941

We maken vervolgens een nieuw dataframe voor het weer in Maastricht en halen daar de minimale gemiddelde temperatuur uit met de functie .min

In [89]:
temp_maastricht =  het_weer[(het_weer["City"] == "Maastricht")].min(axis=0)[1]
temp_maastricht

-6.41

Hieronder geven we weer hoeveel verschillende steden er in het dataframe zitten. Dit doen we door de functie nunique, die het aantal unieke waarden telt.

In [14]:
steden = het_weer["City"].nunique()
steden

24

Met de functie round ronden we de getallen van de temperatuur af. Vervolgens gebruiken we de functie mode om de meest voorkomende waarde te vinden in de kolom. De index 0 geeft aan dat we de eerste waarde willen weergeven.

In [86]:
meest_voorkomend = het_weer["AverageTemperature"].round().mode()[0]
meest_voorkomend

16.0

Met de functie drop_duplicates filteren we de kolom op unieke waarden en behouden we de laatst gevonden waarde ervan. Vervolgens gebruiken we nlargest met een aantal van 3 om de 3 hoogste waarden te vinden.

In [91]:
uniek = het_weer.drop_duplicates(subset=['AverageTemperature'], keep='last').nlargest(3,"AverageTemperature")
uniek

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
10233,2006-07-01,22.812,0.238,Maastricht,Netherlands,50.63N,6.34E
7008,2006-07-01,22.621,0.229,Enschede,Netherlands,52.24N,7.88E
6864,1994-07-01,21.983,0.294,Enschede,Netherlands,52.24N,7.88E