# Minmax and Pandas

We gaan verschillende vragen beantwoorden met de data uit de csv.

In [3]:
import pandas as pd

Data inladen vanuit csv

In [4]:
df = pd.read_csv('weather_netherlands.csv')

Wat is de maximale (hoogste) gemiddelde temperatuur in Rotterdam?

In [6]:
max_temp_rotterdam = df[df['City'] == 'Rotterdam']['AverageTemperature'].max()
print("Maximale gemiddelde temperatuur in Rotterdam:", max_temp_rotterdam)

Maximale gemiddelde temperatuur in Rotterdam: 21.941

Wat is de minimale (laagste) gemiddelde temperatuur in Maastricht?

In [7]:
min_temp_maastricht = df[df['City'] == 'Maastricht']['AverageTemperature'].min()
print("Minimale gemiddelde temperatuur in Maastricht:", min_temp_maastricht)

Minimale gemiddelde temperatuur in Maastricht: -6.41

Hoeveel verschillende steden zitten in de dataset?

In [9]:
aantal_steden = df['City'].nunique()
print("Aantal verschillende steden in de dataset:", aantal_steden)

Aantal verschillende steden in de dataset: 24

Welke gemiddelde temperatuur komt het meeste voor? Rond hiervoor de temperatuur af op hele getallen.

In [11]:
meest_voorkomende_temp = df['AverageTemperature'].round().mode()[0]
print("Meest voorkomende gemiddelde temperatuur:", meest_voorkomende_temp)

Meest voorkomende gemiddelde temperatuur: 16.0

Wat zijn de top 3 warmste temperaturen gemeten? Let op: het eindresultaat moet bestaan uit 3 unieke temperaturen.

In [14]:
top_3_warmste_temp = df['AverageTemperature'].nlargest(4).unique()
print("Top 3 warmste temperaturen gemeten:", top_3_warmste_temp)

Top 3 warmste temperaturen gemeten: [22.812 22.621 21.983]