## IMDB Inspector

Import pandas as pd

In [7]:
import pandas as pd

Laad het bestand in een Pandas dataframe met 'index' als index_col

In [8]:
df = pd.read_csv('IMDB_films.csv', index_col='index')

Print het aantal rijen

In [9]:
total = len(df)
print("Aantal datapunten:", total)

Aantal datapunten: 21782

Verwijder dubbele rijen

In [10]:
df = df.drop_duplicates()

Print het aantal overgebleven datapunten

In [11]:
print("Aantal overgebleven datapunten:", len(df))

Aantal overgebleven datapunten: 21770

Bereken het aantal duplicaten

In [12]:

print("Aantal duplicates:", total - len(df))

Aantal duplicates: 12

Toon de head van het dataframe

In [13]:
df.head()

,title,year,date_published,genre,duration,language,description,reviews_from_users,reviews_from_critics
index,,,,,,,,,
0,Miss Jerry,1894,1894-10-09,Romance,45,NaN,The adventures of a female reporter in the 1890s.,1.0,2.0
2,Den sorte drøm,1911,1911-08-19,Drama,53,NaN,Two men of high rank are both wooing the beaut...,5.0,2.0
9,Richard III,1912,1912-10-15,Drama,55,English,Richard of Gloucester uses manipulation and mu...,8.0,1.0
10,Atlantis,1913,1913-12-26,Drama,121,Danish,After Dr. Friedrich's wife becomes mentally un...,9.0,9.0
12,Il calvario di una madre,1913,1915-10-18,Drama,96,NaN,Single mother is separated from her children d...,16.0,7.0

Unieke genres ophalen

In [14]:
print( df['genre'].unique())

['Romance' 'Drama' 'Western' 'Comedy' 'Adventure' 'Sci-Fi'
 'Science Fiction' 'sci-fi' 'SciFi' 'Sci Fi']

Vervang de sci-fi genre met Sci-Fi

In [17]:
df['genre'] = df['genre'].replace(['Science Fiction', 'SciFi',  'Sci Fi', 'sci-fi'], 'Sci-Fi')

Toon alle unique genres

In [19]:

print( df['genre'].unique())

['Romance' 'Drama' 'Western' 'Comedy' 'Adventure' 'Sci-Fi']